form{
    margin: 10px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 5px;
}
p{
    margin-left: 30%;
    margin-top: 5%;
    font-size:x-large ;


}
.details{
    display: block;
}